* {
  font-family: "Open Sans", sans-serif;
}
header a {
  text-decoration: none;
}
header a:visited {
  color: black;
}
ul {
  display: grid;
  grid-template-columns: 310px 310px 310px 310px;
  padding: 0;
  grid-gap: 18px;
}
li {
  list-style: none;
  padding: 0;
}
.house-box {
  border: 2px solid black;
  display: grid;
  width: 310px;
}
.house-box section {
  display: inline-block;
}
.house-box a {
  text-decoration: none;
  color: black;
}
.house-box a:visited {
  color: black;
}
.house-box img {
  max-width: 310px;
}
.text-box {
  margin: 10px;
}
.house-details img {
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search-box {
  width: 300px;
  height: 100px;
  font-size: 0.75em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.search-form input {
  width: 100%;
}
#map {
  height: 500px;
  width: 100%;
}
.contact-form {
  background-color: white;
  margin: auto;
  width: 50%;
  padding: 10px;

  position: fixed; /* or absolute */
  top: 25%;
  left: 25%;
}
.contact-form input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.contact-form button {
  float: right;
  margin-bottom: 15px;
}
.contact-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  resize: none;
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.map-houseview {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.map-houselist ul {
  display: block;
  padding: 0;
  margin: 0;
}
.map-view {
  background-color: white;
  margin: auto;
  width: 850px;
  padding: 10px;

  position: fixed; /* or absolute */
  top: 25%;
  left: 25%;
}
.nav-bar a {
  margin-right: 10px;
}

.sub-images img {
  display: inline-block;
  max-height: 150px;
  padding-right: 10px;
}
